{% extends 'base.html.twig' %}

{% block title %}Ajout de classes{% endblock %}

{% block body %}

<legend class="mt-4">{{title}}<a href="{{ path('classe-list') }}" class="text-primary offset-5 text-decoration-none">Liste des classes</a></legend>
    {{ form_start(form) }}
    {{ form_row(form.libelle, {"attr" : { 'placeholder' : "Libellé"}}) }}
    {{ form_row(form.filiere, {"attr" : { 'placeholder' : "Filière"}}) }}
    {{ form_row(form.niveau, {"attr" : { 'placeholder' : "Niveau"}}) }}
    {% if editMode %}
        <button class="btn btn-outline-primary">Ajouter</button>
    {% else %}
        <button class="btn btn-outline-primary">Editer</button>
    {% endif %}
    {{ form_end(form) }}

{% endblock %}
