{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}
    <p class="display-4 text-center mb-5">{{ title }} <a href="/classe/add" class="text-primary text-decoration-none">+</a></p>
        {# total items count #}
        {# <div class="count">
            {{ pagination.getTotalItemCount }}
        </div> #}
    <table class="table text-center">
        <thead class=""> 
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Libelle</th>
                <th scope="col">Filiere</th>
                <th scope="col">Niveau</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for classe in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ classe.id }}</td>
                    <td>{{ classe.libelle }}</td>
                    <td>{{ classe.filiere }}</td>
                    <td>{{ classe.niveau }}</td>
                        <td>
                        <a href="{{ path('classe-edit', {"id" : classe.id}) }}" class="btn btn-outline-warning">modifier</a>
                        <a  href="{{ path('classe-delete', {"id" : classe.id}) }}" class="btn btn-outline-danger offset-1">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
    </table>

    {# display navigation #}
    <ul class="pagination">
        <li class="page-item">
            {{ knp_pagination_render(pagination) }}
        </li>
    </li>
{% endblock %}
