{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}
    <p class="display-4 text-center mb-5">{{ title }} <a href="/module/add" class="text-primary text-decoration-none">+</a></p>
    <table class="table text-center">
        <thead class=""> 
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Nom</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for module in pagination %}
                <tr>
                    <td>{{ module.id }}</td>
                    <td>{{ module.nom }}</td>
                    <td>
                        <a href="{{ path('module-edit', {"id" : module.id}) }}" class="btn btn-outline-warning">modifier</a>
                        <a href="{{ path('module-delete', {"id" : module.id}) }}" class="btn btn-outline-danger offset-1">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
    </table>

    {# display navigation #}
    <ul class="pagination">
        <li class="page-item">
            {{ knp_pagination_render(pagination) }}
        </li>
    </li>

{% endblock %}
